@font-face {
    font-family:cool1 ;
    src: url(./047cca8d702faadc-s.p.woff2);
}
@font-face {
    font-family:cool2 ;
    src: url(./27b98a7a098b7dc8-s.p.woff2)
}
@font-face {
    font-family:cool3 ;
    src: url(./d06a438de3f1c613-s.p.woff2)
}
@font-face {
    font-family:cool4 ;
    src: url(./35d2f15e759c07cc-s.p.woff2)
}
@font-face {
    font-family:cool5 ;
    src: url(./79dcfcd742ab5135-s.p.woff2)
}
:root {
  --primary-color: #d3e4df;
  --secondary-color: #34484a; 
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cool2;
}

html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(211, 227, 222);
}
nav{
    height: 15%;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    opacity: 0;
    width: 100%;
    transform-origin: center center;
   clip-path: inset(0 0% 0 0%);
   overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    animation-name:fadedown ;
    animation-duration: .8s;
    animation-delay:7.6s;
    animation-fill-mode: forwards;

}
@keyframes fadedown {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
    
}
#nav2{
 position: fixed;
 bottom: 20;
 left: 20;
 z-index: 100;
}
.scrolling-logo svg{
    background-color: #ffffff;
    padding: 15px;
    height: 55px;
    border-radius: 10px;
}
.hamburger-container{

    border: 1px solid #34484a39;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    cursor: pointer;
    transition: all ease .3s;
}
.hamburger-line{

    height: 1.5px;
    width: 23%;
    background-color: #34484a;
}

.hamburger-container:hover{
        border: 1px solid #34484a;
        gap: 2.3px;
}

nav ul{
    display: flex;
    list-style: none;
    font-size: .8vw;
    color: #34484a;
    gap: 50px;
    align-items: center;
    margin-left: 80px;
}

 .logo {
        display: flex;
    flex-direction: column;
    gap: 3px;
      position: relative;
      cursor: pointer;
      /* width/height set by JS after measuring SVG */
    }
        .logo-left{
            position: absolute;
            
      top: -20;
      left: 0;
      line-height: 0; /* no extra space below inline SVG */
        }


    .logo-right {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 0; /* no extra space below inline SVG */
    }

    .logo svg {
      height: 14px;
      width: auto;
      display: block;
      color: #34484a;
      overflow: visible;
    }


svg path{
    transform-origin:center ;
}

#main-btn{
    background-color: #34484a;
    color: white;
    padding: 16px 20px 16px 10px;
    border: 1px solid white; 
    justify-content: flex-start;
    border-radius: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;

}
#main-btn .arrow-before svg{
    height: 9px;
        transition: all ease .5s;
}
#main-btn .arrow-after svg{
    height: 9px;
    opacity: 0;
    transform: translateX(-600%);
    transition: all ease .3s;
}
#cta{
        transition: all ease .5s;
}
#main-btn:hover .after-cta{

        transform: translateX(300%);
        opacity: 1;
}
#main-btn:hover .before-cta{

        transform: translateX(800%);
        opacity: 0;
}
#main-btn:hover #cta{

        transform: translateX(20%);

}

.section1{
    padding-top:8%;      
    width: 100%;
    background-color: #d3e4df;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 5%;
    position: relative
}
.section1 p{
    text-align: center;
    font-size: 50px;
   font-family: cool1;
   font-weight: 500;
   line-height: 1;
}
.section1 video{
    margin-top: -100px;
   width: 97%;
   opacity: 0;
   border-radius: 70px;
       animation-name: fadeup;
    animation-duration:.8s ;
    animation-delay: 7.6s;
    animation-fill-mode: forwards;
}

/* //section 2 */

.section2{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .section2-content .sec2-image {
    height: 88%;
    background-image: url(https://www.datocms-assets.com/134289/1766172974-global-202512-zoox-passenger-basketball-entering-robotaxi.jpg?auto=compress&dpr=2&fm=webp&q=90&w=1920);
    width: 97%;
    background-position: top;
    background-size: cover;
    border-radius: 60px;

}
.section2-content{
    height: 100%;
    width: 100%;
            display: flex;
    justify-content: center;
    align-items: center;
}
 .section2-content .sec2-tag {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    position: absolute;
    text-align: center;
    right: -40%;

}
 .section2-content .sec2-tag h4{
    color:#147881bb;
}
 .section2-content .sec2-tag p{
    font-size: 26px;
    font-weight: 100;
    font-family: cool1;
    color: #27747b;
}

.section3{
    height: 140%;
    width: 100%;

}

.sec3-bg{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.sanity.io/images/h5mp19kq/production/fe892333d4c9a9934032f2ee33da32ac0f61211f-3200x1800.jpg?w=2000&fm=webp&q=90);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    align-items: center; 
}
.sec3-details-left{
    position: sticky;
    top: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.sec3-details-left h1{
    font-family: cool1;
    font-size: 50px;
}
.sec3-details-right{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: flex-end;
}
.sec3-details-right p{
    color: #ffffff;
    width:30%;
    font-family: cool3;
    font-size: 20px;
}




.section4{
    padding-top: 4%;
    min-height: 100%;
    width: 100%;
    background-color:#007ae5; 

}
.section4-top{
    padding: 0px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pad: 10px 40px;
}
.section4-top p{
    color: #f5f4df;
    font-size: 13px;
}
.section4 h1{
    margin-top: 200px;
    white-space: nowrap;
    color:#f5f4df ;
    font-size: 200px;
    font-family: cool3;
}
.sec4-bg{
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-image: url(https://cdn.sanity.io/images/h5mp19kq/production/c87e7474a50bc61d572909da05aee1647cd8f082-2400x6045.webp?w=1600&fm=webp&q=80);
    width: 100%;
    height: 620%;
    background-repeat: no-repeat;
}


.people{

    position: absolute;
    z-index: 2;
    bottom: 0;
}
.top-grass{

    position: absolute;
    z-index: 3;
    bottom: 0;
}
.fog{

    position: absolute;
    z-index: 1;
    bottom: 300;
}

.aeroplanes{
    position: absolute;
    z-index: 5;
    bottom: 43%;
}

.dream-text{
    width: 400px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    color: #f5f4df;
    gap: 10px;
    position: absolute;
    z-index: 6;
    bottom: 50%;
}
.dream-text2{
    width: 400px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    color: #f5f4df;
    gap: 10px;
    position: absolute;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    bottom: 46%;
}
.dream-text3{
    width: 400px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    color: #5190dd;
    gap: 10px;
    position: absolute;
    z-index: 6;
    bottom: 42%;
    right: 0;
}


.cloud1, .cloud2, .cloud3, .cloud4,
.aeroplanes, .fog, .city,
.dream-text, .dream-text2, .dream-text3,
.people, .top-grass {
    will-change: transform;
    transition: none !important;
}









.up{
    position:fixed;
    top: 0;
    height: 50%;
    z-index: 100;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform-origin: top;
    animation: opening;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    
}
.down{
    bottom: 0;
    position:fixed;
    z-index: 100;
    height: 50%; 
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform-origin:bottom ;
    animation: opening;
    animation-duration: 8s;
    animation-fill-mode: forwards;

}

@keyframes opening {
    0%{
         transform: scaleY(1);
        }
        25%{
            transform: scaleY(0.5);
        }
       100%{
        transform: scaleY(0);

    }
    
}

.cta-tag-line{
    position: absolute;
    top: 170;
    opacity: 0;
    animation-name: fadeup;
    animation-duration:.8s ;
    animation-delay: 7.6s;
    animation-fill-mode: forwards;
}

@keyframes fadeup {
    from{
        opacity: 0;
        transform: translateY(10%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
    
}
        .inner-main {
            margin-top: 160px; 
            z-index: 20;
            position: relative;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .first,
        .second,
        .third {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }

        .first span {
            display: inline-block; 
            font-size: 200px;
            line-height: 1;
            transform: translateY(191%);  
            
            font-weight: 900;
            letter-spacing: -4px;
        }
         .second span { 
            display: inline-block; 
            font-size: 200px;
            line-height: 1;
            transform: translateY(100%);  
            font-weight: 900;
            letter-spacing: -4px;
         }

         .third span{
                        display: inline-block; 
            font-size: 200px;
            line-height: 1;
            transform: translateY(100%);  
            font-weight: 900;
            letter-spacing: -4px;
         }

        @keyframes focusLetter {
            0%   { transform: translateY(191%); }
            20%  { transform: translateY(90%);   }  
            65%  { transform: translateY(90%);   }   
            85%  { transform: translateY(-40%);}   
            100% { transform: translateY(-40%);}
        }


        .first span:nth-child(1) { animation: focusLetter 3s 0.10s cubic-bezier(.22,.61,.36,1) forwards; }
        .first span:nth-child(2) { animation: focusLetter 3s 0.20s cubic-bezier(.22,.61,.36,1) forwards; }
        .first span:nth-child(3) { animation: focusLetter 3s 0.30s cubic-bezier(.22,.61,.36,1) forwards; }
        .first span:nth-child(4) { animation: focusLetter 3s 0.40s cubic-bezier(.22,.61,.36,1) forwards; }
        .first span:nth-child(5) { animation: focusLetter 3s 0.50s cubic-bezier(.22,.61,.36,1) forwards; }

     
        @keyframes achieveLetter {
            0%   { transform: translateY(100%); }
            20%  { transform: translateY(-10%);   } 
            65%  { transform: translateY(-10%);   }   
            85%  { transform: translateY(-100%);}   
            100% { transform: translateY(-100%);} 
        }
        @keyframes lastLetter {
            0%   { transform: translateY(100%); }
            20%  { transform: translateY(-100%);   }  
            65%  { transform: translateY(-100%);   } 
            85%  { transform: translateY(-250%);} 
            100% { transform: translateY(-250%);}  
        }

        .second span:nth-child(1) { animation: achieveLetter 3s 2.50s cubic-bezier(.22,.61,.36,1) forwards; }
        .second span:nth-child(2) { animation: achieveLetter 3s 2.60s cubic-bezier(.22,.61,.36,1) forwards; }
        .second span:nth-child(3) { animation: achieveLetter 3s 2.70s cubic-bezier(.22,.61,.36,1) forwards; }
        .second span:nth-child(4) { animation: achieveLetter 3s 2.80s cubic-bezier(.22,.61,.36,1) forwards; }
        .second span:nth-child(5) { animation: achieveLetter 3s 2.90s cubic-bezier(.22,.61,.36,1) forwards; }

        .third span:nth-child(1) { animation: lastLetter 4s 4.50s cubic-bezier(.22,.61,.36,1) forwards; }
        .third span:nth-child(2) { animation: lastLetter 4s 4.60s cubic-bezier(.22,.61,.36,1) forwards; }
        .third span:nth-child(3) { animation: lastLetter 4s 4.70s cubic-bezier(.22,.61,.36,1) forwards; }
        .third span:nth-child(4) { animation: lastLetter 4s 4.80s cubic-bezier(.22,.61,.36,1) forwards; }
        .third span:nth-child(5) { animation: lastLetter 4s 4.90s cubic-bezier(.22,.61,.36,1) forwards; }
        .third span:nth-child(6) { animation: lastLetter 4s 5.00s cubic-bezier(.22,.61,.36,1) forwards; }
        .third span:nth-child(7) { animation: lastLetter 4s 5.10s cubic-bezier(.22,.61,.36,1) forwards; }










    footer{
     
        padding:20px 40px ;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: white;
        position: absolute;
        background-position: center;
        bottom: 0;
        z-index: 20;
        height: 10%;
        width: 100%;
        /* overflow: hidden; */
        background:linear-gradient(to top, black ,rgba(0, 0, 255, 0));
    }
    footer svg{
        height: 20px;
    }

